
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  /* Header Styles */
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  #navBar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #navBar ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  #navBar ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Main Styles */
  #divForm {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
  }
  
  #empForm label {
    display: block;
    margin-bottom: 10px;
  }
  
  #empForm input[type="text"],
  #empForm select {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  .button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  #cardEmp {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    }
  section div{
    border: 5px solid #6b5a5a;
    margin: 5px;
    text-align: center;
    padding: 5px;
  }
  /* Footer Styles */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  #links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #links ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  #links ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    #divForm {
      max-width: 300px;
    }
  }
  